.container {
    display:grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas*/
}
.item{
    background-color: #0000FF;
    border-radius: 10px;
    padding:20px;
    color: #FFF;
    font-size: 20px;
}