.container {
    display:grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas*/
    grid-column-gap:10px; /*espaçamento entre colunas */
    grid-row-gap: 10px; /*espaçamentro entre linhas */
    gap:10px 10px; /*espaçamento entre linhas e colunas*/
}
.item{
    background-color: #0000FF;
    border-radius: 10px;
    padding:20px;
    color: #FFF;
    font-size: 20px;
}